body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #757304d0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0c93e7;
    color: #f0e2e2;
    position: absolute;
    bottom: 0;
    width: 100%;
}
